*,
*::after,
*::before{
  box-sizing: border-box;
}
:root{
  --background:#333;
  --screen:rgb(80, 79, 79);
}
body{
  background-image: linear-gradient(gray,black);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100%;
}
/* CONTENEDOR PRINCIPAL  */
.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  margin: auto;
  position: relative;
  width: 400px;
}
.error{
  animation: shaking .1s infinite;
}
@keyframes shaking{
  0%{
    left: 4px;
  }
  50%{
    left: -4px;
  }
  75%{
    right:4px;
  }
  100%{
    right: -4px;
  }
}
/* PANTALLA PRINCIPAL */
/* BOTONES  */
.screen-button{
  height: 10%;
  width: 80%;
}
.title{
  color: #fff;
  font-size: 2em;
}
.social{
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60%;
  width: 60%;
}
.icon{
  height: 28px;
  width: 28px;
}
.idea-icon{
  height: 100%;
  width: 100%;
}
.me{
  color: black;
  font-size: 1.5em;
  flex-basis: 80%;
  text-decoration: none;
}
.about-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  align-content: space-around;
  height: 70%;
  width: 80%;
}
/* PANTALLA DE EJERCICIOS  */
.screen{
  background-color: var(--screen);
  border: 0.5px solid black;
  border-bottom: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  position: relative;
  width: 95%;
}
.final-screen{
  color:gold;
  text-align: center;
  line-height: 1.5;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
/* TECLADO E INPUTS  */
.keyboard{
  border: 1px solid black;
  background-color: var(--screen);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 27%;
  width: 95%;
}
/* INPUT, ANSWER Y ERASE  */
.input-container{
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: space-around;
  width: 100%;
}
.input{
  background-color: var(--background);
  border-radius: 3px;
  border: 1px solid black;
  width: 35%;
  height: 90%;
  color: #fff;
  font-weight: bold;
}
.answer{
  padding: 5px;
}
.erase{
  height: 90%;
  width: 10%;
}
/* TODOS LOS BOTONES  */
.button{
  background-color: var(--background);
  border-radius: 3px;
  border: 1px solid black;
  color: #fff;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}
.button:active{
  transform: scale(.90);
}
.screen-button{
  background-color: #fff;
  color: var(--background);
  border-radius: 20px;
  border-bottom: 2px solid black;
}
.back-button{
  height: 60px;
  position: absolute;
  top: 5%;
  left: -20%;
  width: 100px;
}
.erase:hover,
.enter:hover,
.button.key:hover,
.screen-button:hover{
  background-color: var(--screen);
  color: #fff;
}
/* NUMEROS  */
.keys{ 
  display: grid;
  height: 65%;
  align-content: space-around;
  justify-content: space-around;
  grid: repeat(2, 45%) / repeat(5, 18%);
  width: 100%;
}
.level{
  display: none;
  width: 100%;
  height: 100%;
}
.level:nth-child(1){
  display: block;
}
.hint_img{
  height: 99.9%;
  display:inline-block;
  transform: translateX(0%);
  position: absolute;
  transition: all .3s;
  z-index: -10;
}

.hidden{
  display: none;
}
@media screen and (max-width:480px){
  .back-button{
    z-index: 20;
    left: 0%;
  }
  .hint_img{
    transform: scale(.001);
  }
}
